[MASTER]
extension-pkg-allow-list=cv2

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-nested-blocks,
    no-member
